@media screen and (min-width: 320px) and (max-width: 480px) {
  section.characters {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  div.card img{
    height: 150px;
  }
  div.card-title.h5{
    font-size: 1.1em;
  }
  p.card-text{
    font-size: 1em;
    font-weight: 500;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px){
  section.characters{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  div.card img{
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  section.characters{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  div.card img{
    height: 250px;
  }
  p.card-text{
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
  section.characters{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  p.card-text{
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px){
  div.slider{
    height: 500px;
  }
  section.characters{
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  button.upbtn {
    top: 94.4%;
  }
  div.card > img{
    height: 300px;
    object-fit: cover;
    height: 200px !important;
  }
}